*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#081c15;
color:white;
overflow-x:hidden;
}

header{
position:fixed;
top:0;
width:100%;
padding:20px 5%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.4);
backdrop-filter:blur(10px);
z-index:1000;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:100vh;
background:linear-gradient(
rgba(0,0,0,.4),
rgba(0,0,0,.6)),
url('../assets/hero.jpg');
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:5rem;
font-weight:800;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 40px;
background:#52b788;
border-radius:50px;
text-decoration:none;
color:white;
}

section{
padding:100px 10%;
}

h2{
text-align:center;
margin-bottom:50px;
font-size:3rem;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:#1b4332;
padding:30px;
border-radius:20px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
}

.solution{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.robot{
font-size:10rem;
text-align:center;
animation:float 3s infinite;
}

@keyframes float{
50%{
transform:translateY(-20px);
}
}

.stats{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
margin-bottom:40px;
}

.stat{
text-align:center;
}

.stat span{
font-size:4rem;
font-weight:700;
color:#95d5b2;
}

.timeline{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.timeline div{
background:#2d6a4f;
padding:20px;
border-radius:15px;
}

canvas{
background:white;
border-radius:20px;
padding:20px;
}

footer{
padding:40px;
text-align:center;
background:black;
}